.share {
  padding: 2% 0;

  .container {
    font-family: sans-serif;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(34, 34, 34, 0.5);
    -moz-box-shadow: 1px 1px 20px 1px rgba(48, 47, 47, 0.5);
    box-shadow: 1px 1px 20px 1px rgba(58, 58, 58, 0.5);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    .shareTop {
      display: flex;
      .shareLeft {
        display: flex;
        align-items: center;
        background-color: #1d5761;
        padding: 15px;

        .userImg {
          display: flex;
          align-self: center;
          justify-content: center;

          img {
            image-rendering: pixelated;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            background-color: white;
          }
          #defaultprofile {
            padding: 5px;
            font-size: 30px;
            color: #ffffff;
          }
        }
      }
      .shareRight {
        padding: 10px 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 10vh;
        border-radius: 10px;
        .textInput {
          background-color: transparent;
          width: 100%;
          padding: 20px 10px;
          border: none;
          outline: none;
          border-bottom: 2px #1d5761 solid;
          font-size: 16px;
          font-family: sans-serif;
        }
        .shareImg {
          display: flex;
          flex-direction: column;
          align-items: center;

          .icon {
            width: 50px;
            height: 50px;
            object-fit: cover;
            cursor: pointer;
          }
        }

        .sharebtn {
          background-color: #1d5761;
          color: white;
          padding: 15px 20px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
    .shareBottom {
      .preview {
        display: flex;
        flex-direction: column;
        
        h3{
          align-self: center;
          font-size: 1.5rem;
          color:#1d5761;
        }
        .previewcontainer {
          display: flex;
          gap: 20px;
          padding: 2%;
          .previewdesc {
            display: flex;
            flex-direction: column;
            width: 80%;
            font-size: 1.2rem;
            color: #444849;
            span{
              font-size: 1.3rem;
              color: #125b68;
            }
          }
          .uploadedfilepreview {
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            gap: 20px;
            #imgcontainer{
              display: flex;
              align-items: center;
              gap:10px;
            .videoFile {
              width: 100px;
              height: 100px;
              object-fit: contain;
            }
            .imgFile {
              width: 100px;
              object-fit: contain;
            }
            #removebtn{
              padding: 0px 10px;
              background-color: rgb(199, 77, 77);
              border: none;
              border-radius: 2px;
              color: white;
              font-size: 1.5rem;
              font-weight: bold;
            }
          }
            p {
              color: #1d5761;
              font-weight: bold;
              font-size: 16px;
              font-family: sans-serif;
            }
          }
        }
      }
    }
  }
}
